/* 홈화면이랑 조금 달라서  */
.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vw;
    background-position: center center;
    background-size: cover;
    font-family: "sans-serif";
    background-color: black;
}

img {
    width: 100%;

}

.overlay {
    background-color: black;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 10px;
}

.header {
    height: 50px;
    display: flex;
    align-items: baseline;

}

.logo {
    color: red;
    margin-right: 40px;
    font-size: 53px;
    font-weight: 950;
    line-height: 36px;
    cursor: pointer;
}
.nav {
    display: flex;
    color: white;
    line-height: 36px;
}

.nav-item {
    padding: 0 10px;
    font-size: larger;
    font-weight: 400;
    cursor: pointer;
}
.menu {
    display: flex;
    margin-left: auto;
    color: white;
    line-height: 36px;
}

.menu-item {
    font-size: large;
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
}

.container {
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 30px;
    background-color: rgba(87, 84, 84, 0.692);
}

.name {
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}

.container-carousel {
    margin-left: 170px;
    margin-right: 170px;
}

.container2 {
    margin-top: 30px;
    display: block;
    justify-content: center;
    color: white;
}

.container2-1 {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 40px;
}

.container4 {
    margin-left: 80px;
    margin-right: 80px;

}
.review-summary {
    margin-left: 120px;
    margin-right: 120px;
}
.score {
    font-size: 50px;
    margin-top: 20px;

}

.review-rating {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    color: white;
}
.progress {
    width: 20%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.review-input {

    width: 1000px;
    border: none;
    padding: 10px;
    background-color: rgba(209, 207, 207, 0.918);
}

#mytitle {
    height: 35px;
}

#mycontents {
    height: 400px;
}

.container5 {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.review-detail {
    cursor: pointer;
    color: aliceblue;
}

.review-head {
    color: aliceblue;
}



.modal-review-title {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid aliceblue;
}

.review-contents {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(83, 83, 83, 0.589);
    color: aliceblue;
    border-radius: 10px;
}